<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    



</head>

<body ng-app="spicyApp1" background="/background.jpg">

    <%- include navbar.ejs %>

    <!-- Page Content -->
    <div class="container well" style="margin-top:100px;">
        <p>A special thanks to Paulo Guarnier de Mitri and Nathan Henrique Imamura, who helped us to better understand sails so we could develop this project.</p>

   </div>
   
</body>

</html>
